
@{
    ViewBag.Title = "Trang Quản Lý";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style type="text/css">
    a
    {
        color: white;
        background: none;
    }
    a:hover
    {
        text-decoration: none;

    }
    h2
    {
        text-align:center;
        margin-top: 28px;
    }
</style>
<h2>Chào Mừng Quản Trị</h2>

