
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Admin</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/Content/css/Login.css" />
    <style type="text/css">
        * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="login-box">
            <h2>Quản Trị Viên</h2>
            <h4 style="text-align:center; color:coral;">@ViewBag.thongbao</h4>
            <div class="dn">
                <div class="user-box">
                    <input type="text" name="username" required=""/>
                    <label>username</label>
                    @ViewData["loi1"]
                </div>
                <div class="user-box">
                    <input type="password" name="password" required=""/>
                    <label>password</label>
                    @ViewData["loi2"]                    
                </div>
                <button class="btn-hover color-9" type="submit">Login</button>
            </div>
        </div>
    }
</body>
</html>
