<style>
    .giohang{
        
        color: white;
    }
    .giohang:hover
    {
        background-color: none;
        text-decoration: none;
        color: white;
    }
</style>
<a href="@Url.Action("Giohang", "Giohang")" class="giohang">
    <i class="fa fa-shopping-cart" style="font-size: 38px"></i> Giỏ Hàng: (@ViewBag.Tongsoluong)
</a>
