.container-fluid
{
    padding: 0%;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
  }
.logo{
    width: 50%;
    height: 80px;
    padding: 0 10%;
    display: block;
    float: left;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  /* #check{
    display: none;
  } */
  @media (max-width: 952px){
    .logo{
      display: block;
      padding-left: 10%;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

/*menu right*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, #5192e1 0%, #5192e1 50%, #23ced5 100%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 100px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.hhh
{
  color: #24cdd5;
  font-weight: 700;
  font-size: 45px;
  margin: 0%;
  padding: 0%;
}
.hh{
  color: #ffffff;
  font-weight: 700;
  font-size: 45px;
}
.mm
{
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 45px;
}
.ppp
{
  font-weight: 400;
  font-size: 22px;
  padding: 0%;
  margin: 0%;
  line-height: 30px;
}

/* progress bar */
#myProgress {
  width: 100%;
  height: 18px;
  background-color: white;
  margin-bottom: 10px;
}

#myBar, #myBarr, #myBarrr, #myBarrrr, #myBarrrrr {
  width: 1%;
  height: 18px;
  background-image: linear-gradient(to right, #5192e1 0%, #5192e1 31%, #23ced5 100%);
  border-radius: 5px;
}
.ds2 a
{
  text-decoration: none;
  background: none;
  margin: 0%;
}
.ds2:hover
{
  text-decoration: none;
  background: none;
}
.clpc
{
  color: #2c3e50;
}
/* process bar hoverright */
.pbright {
  border: none;
  color: black;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.pbright span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.pbright span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
  color: #24cdd5;
  margin-top: -3px;
}

.pbright:hover span {
  padding-left: 10px;
  color: #24cdd5;
}

.pbright:hover span:after {
  opacity: 1;
  left: 0;
}


/* born */
.born
{
  /* background-image: url(https://atechworld.vn/images/bg-business-born.jpg); */
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 117.517px;
  padding: 100px 10px;
}
.center
{
  text-align: center;
}
.year span
{
  font-size: 5rem;
  font-weight: 700;
  font-family: sans-serif;
  color: #24cdd5;
}
.year h3
{
  font-weight: bold;
  margin-top: -20px;
}
.year p
{
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 250px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin: 20px;
    height: 48px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
/* các dịch vụ */
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(rgba(35, 206, 213, 0.9), rgba(81, 146, 225, 0.9) 50%);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.dvone:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.dvtwo:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* chuyển tiếp dịch vụ */
.text a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.text a:hover {
  background-color: #24cdd5;
  color: white;
  border: 1px solid white;
}
.next {
  background-color: white;
  color: black;
  border: none;
}

.round {
  border-radius: 20%;
}

/* process*/
.process
{
  width: auto;
}
.process ul
{
  padding: 0%;
  list-style: none;
}
.process ul li
{
  width: 30%;
  height: 1px;
  background: rgba(255, 255, 255, .5);
  display: inline-block;
}
.radio
{
  z-index: -1;
    border: 1px solid;
    height: 90px;
    width: 90px;
    text-align: center;
    margin-top: -42px;
    border-radius: 50%;
    background-color:#26313c;
    align-items: center;
    display: flex;
}



/* Đối tác */
h2{
  text-align:center;
  padding: 20px;
  font-size: xxx-large;
  font-weight: initial;
  margin-bottom: 50px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* LHBG icon MXH */
.bgicon ul li
{
  list-style: none;
  display: inline-block;
  height: auto;
  width: 25px;
  border: 0.5px solid grey;
  text-align: center;
  border-radius: 15px;
  margin: 30px 10px 0 0;
}
.bgicon ul li a
{
  background: none;
  color: black;
}
.bgicon ul li:hover
{
  background-color: #24cdd5;
}
.bgicon ul li a:hover
{
  background-color: #24cdd5;
  color: white;
}

/* form */
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  /* margin-bottom: 16px; */
  resize: vertical;
  font-size: smaller;
}

/* input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
} */
/*   footer */
.col-md-3,.col-lg-3 a
{
  text-decoration: none;
  color: #808080;
}
.col-md-3,.col-lg-3 p
{
  color: #808080;
}

/* footer hoverright */
.hoverright {
  border: none;
  color: #FFFFFF;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.hoverright span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.hoverright span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
  color: #24cdd5;
  margin-top: -4px;
}

.hoverright:hover span {
  padding-left: 10px;
  color: #24cdd5;
}

.hoverright:hover span:after {
  opacity: 1;
  left: 0;
}

.nohovera
{
  color: white;
  height: auto;
}
.nohovera ul
{
  padding: 0%;
  height: auto;
}
.nohovera ul li
{
  list-style: none;

}
.nohovera ul li a
{
  text-decoration: none;
  display: block;
}
.nohovera ul li a:hover
{
  background: none;
}
.hovera
{
  margin-bottom: 30px;
}
.hovera a
{
  text-decoration: none;
  color: white;
}
.hovera a:hover
{
  text-decoration: none;
  background: none;
  color: #24cdd5;
}
.color p,h3,ul,li,a,span
{
  color: #FFFFFF;
}
.hovera ul li
{
  list-style: none;
  display: inline-block;
  height: auto;
  width: 25px;
  border: 0.5px solid lightgrey;
  text-align: center;
  border-radius: 15px;
  margin: 30px 10px 0 0;
}
.hovera ul li a
{
  background: none;
}
.hovera ul li:hover
{
  background-color: #24cdd5;
}
.hovera ul li a:hover
{
  background-color: #24cdd5;
  color: white;
}

/* backtop */
.lentop {
  display: none;
  bottom: 40%;
  right: 10px;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  margin-bottom: -235px;
}
.lentop a {
  background-image: linear-gradient(to right, #23ced5aa 0%, #5192e1aa 100%);
  border: 2px solid #fff;
  border-radius: 45px;
  padding: 11px 12.5px;
  text-align: center;
}
.lentop i
{
  font-size: 28px;
  color: #fff;
  font-weight: 900;
}